<nz-table #table [nzData]="tbRows" [nzTotal]="tbTotal" [nzPageIndex]="tbPageIndex" [nzPageSize]="tbPageSize"
	(nzPageIndexChange)="tbPageIndexChanged.emit($event)" [nzLoading]="tbLoading"
	[nzFrontPagination]="tbFrontPagination" [nzPageSizeOptions]="tbPagaSizeOptions" [nzShowSizeChanger]="true"
	(nzPageSizeChange)="tbPageIndexChanged.emit($event)">
	<thead class="custom-thead">
		<tr>
			<th *ngFor="let column of columns">
				<ng-container *ngIf="column.tbHeader; else headerDefault">
					<ng-container *ngTemplateOutlet="column.tbHeader.template"></ng-container>
				</ng-container>
				<ng-template #headerDefault>
					{{ column.header }}
				</ng-template>
			</th>
		</tr>
	</thead>
	<tbody class="tb-cus-tbody">
		<tr *ngFor="let data of table?.data">
			<td *ngFor="let col of columns" class="tb-cus-td">
				<ng-container *ngIf="col.tbCell; else cellDefault">
					<ng-container *ngTemplateOutlet="
							col.tbCell.template;
							context: { $implicit: data }
						"></ng-container>
				</ng-container>
				<ng-template #cellDefault>{{ data | pickValue: col.fieldName }}</ng-template>
			</td>
		</tr>
	</tbody>
</nz-table>