<app-table [tbRows]="tableData.tbRows" [tbPageIndex]="tableData.tbPageIndex" [tbPageSize]="tableData.tbPageSize"
	[tbTotal]="tableData.tbTotal" (tbPageIndexChanged)="onPageIndexChanged($event)" [tbLoading]="tbLoading" [tbFrontPagination]="true">
	<app-tb-column header="ID" fieldName="id"> </app-tb-column>
	<app-tb-column header="Name" fieldName="name"> </app-tb-column>
	<app-tb-column header="Day of birth" fieldName="dob">
		<ng-template appTableHeader>
			<strong>Birthday</strong>
		</ng-template>
		<ng-template appTableCell let-row>
			<i class="text-blue-300">{{ row["dob"] | date: 'fullDate' }}</i>
		</ng-template>
		<ng-template></ng-template>
	</app-tb-column>
</app-table>